<!-- Status Panel Container -->
<div class="card mb-3">
  <h2 class="card-header">{% block rocketlogger_status_title %}RocketLogger Status{% endblock %}</h2>
  <div class="card-body">
{% block rocketlogger_status %}
    <div class="row">
      <div class="col-md-6">
        <h5>Status</h5>
        <p><span id="status_message"> </span> <span class="badge bg-danger d-none" id="warn_error"> ERROR </span></p>
        <h5>Recorded samples</h5>
        <p><span id="status_samples"> </span></p>
        <h5>Recorded time</h5>
        <p><span id="status_time"> </span></p>
      </div>
      <div class="col-md-6">
        <h5>Calibration date</h5>
        <p><span id="status_calibration"></span><span class="badge bg-danger d-none" id="warn_calibration">uncalibrated</span></p>
        <h5>Disk usage</h5>
        <p><span class="badge bg-warning d-none" id="warn_storage_low">low</span><span class="badge bg-danger d-none" id="warn_storage_critical">critical</span> <span id="status_disk"> </span></p>
        <h5>Remaining recording time</h5>
        <p><span id="status_remaining"> </span></p>
      </div>
    </div>
{% endblock %}
{% block rocketlogger_status_footer %}{% endblock %}
  </div>
</div>