# RocketLogger daemon service
[Unit]
Description=RocketLogger daemon
Documentation=https://github.com/ETHZ-TEC/RocketLogger#readme

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'while ! lsmod | grep uio_pruss > /dev/null; do echo "await uio_pruss module loaded..."; sleep 2; done; sleep 10'
ExecStart=/usr/bin/rocketloggerd
PIDFile=/run/rocketloggerd.pid

User=flocklab
Group=flocklab

TimeoutStopSec=2s
KillMode=mixed
KillSignal=SIGTERM
FinalKillSignal=SIGKILL

Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
