include README.md
include convert_calibration.py
include create_calibration.py
include process_data.py
include requirements.txt
include test_coverage.sh
include test_performance.py
recursive-include data *.rld
recursive-include data *.dat
recursive-include tests *.py
