{% extends "base.html" %}

{% block title %}RocketLogger Measurement Files{% if hostname %} ({{ hostname }}){% endif %}{% endblock %}
{% block content %}
<!-- Page Title -->
<div class="row justify-content-between align-items-center mb-4">
  <div class="col">
    <h1>RocketLogger Measurement Files{% if hostname %} ({{ hostname }}){% endif %}</h1>
  </div>
</div>

<!-- File List Container -->
<div class="card mb-3">
  <h2 class="card-header">Measurement Files</h2>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col-auto">Name</th>
          <th scope="col">Date Modified</th>
          <th scope="col">Size</th>
          <th scope="col">File Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <th>{{ file.basename }}</th>
          <td>{{ file.modified }}</td>
          <td>{{ file.size }}</td>
          <td class="dropdown">
            <a href="{{ href_download_base + file.basename }}" class="btn btn-primary btn-sm" role="button">Download</a>
            <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ href_delete_base + file.basename }}">Delete file: {{ file.basename }}</a></li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if files|length == 0 %}
    <p><em>No measurement files found.</em></p>
    {% endif %}
  </div>
</div>
{% endblock %}
