{% extends "base.html" %}

{% block content %}
<!-- Page Title -->
<div class="row justify-content-between align-items-center mb-4">
<div class="col">
  <h1>RocketLogger Web Interface{% if hostname %} ({{ hostname }}){% endif %}</h1>
</div>
</div>

<!-- Option List -->
<div class="card mb-3">
<h2 class="card-header">Welcome!</h2>
<div class="card-body">
  <p>Welcome to the RocketLogger interface. You have the following options to chose from:</p>
  <p><a href="/control/" class="btn btn-primary" role="button">Perform Measurements &gt;</a></p>
  <p><a href="/calibration/" class="btn btn-primary" role="button">Calibrate RocketLogger &gt;</a></p>
  <p><a href="/data/" class="btn btn-primary" role="button">Download Data &gt;</a></p>
  <p><a href="/log/" class="btn btn-primary" role="button">View the Log &gt;</a></p>
  <p><a href="/debug/">Debug Information &gt;</a></p>
</div>
</div>
{% endblock %}
