/**
 * Copyright (c) 2016-2019, ETH Zurich, Computer Engineering Group
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * * Redistributions of source code must retain the above copyright notice, this
 *   list of conditions and the following disclaimer.
 *
 * * Redistributions in binary form must reproduce the above copyright notice,
 *   this list of conditions and the following disclaimer in the documentation
 *   and/or other materials provided with the distribution.
 *
 * * Neither the name of the copyright holder nor the names of its
 *   contributors may be used to endorse or promote products derived from
 *   this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/pinctrl/am33xx.h>
#include <dt-bindings/gpio/gpio.h>

/ {
  compatible = "ti,beaglebone", "ti,beaglebone-green", "ti,beaglebone-black";

  /* identification */
  part-number = "FLOCKLAB2";
  version = "00A0";

  /* resources used by the FlockLab2 cape */
  exclusive-use =
    /* RocketLogger pins */
    "P8.09", /* LED status */
    "P8.11", /* LED error */
    "P8.13", /* User button pin */
    "P9.17", /* Cape power enable pin */
    "P9.15", /* nForce high range pins */
    "P9.24", /* PRU controlled pins */
    "P9.25",
    "P9.28",
    "P9.29",
    "P9.30",
    "P9.31",
    "P9.14", /* PWM pins */
    "P9.16",
    "P9.22",
    /* FlockLab pins */
    "P8.27", /* pps gpio */
    "P8.37", /* uart5_txd */
    "P8.38", /* uart5_rxd */
    //"P8.39", /* Target_SIG2 */
    //"P8.40", /* Target_nRST */
    "P8.41", /* Target_INT2 */
    //"P8.42", /* Target_SIG1 */
    "P8.43", /* Target_LED3 */
    "P8.44", /* Target_INT1 */
    "P8.45", /* Target_LED1 */
    "P8.46", /* Target_LED2 */
    "P9.13", /* uart4_txd */
    "P9.11", /* uart4_rxd */

    /* Hardware blocks used */
    "pru0",   /* PRU for ADC control */
    "pruss",
    "ehrpwm0A", /* EHRPWM0 for ADC clock generation */
    "ehrpwm1A", /* EHRPWM1 for Latch reset signal generation */
    "ehrpwm1B",
    "uart4",
    "uart5";

  fragment@0 {
    target-path="/";
    __overlay__ {
      chosen1 {
        overlays {
          BB-UART4-00A0 = __TIMESTAMP__;
        };
      };
      chosen2 {
        overlays {
          BB-UART5-00A0 = __TIMESTAMP__;
        };
      };
    };
  };

  /* Free up the pins used by the cape from the pinmux helpers. */
  fragment@1 {
    target = <&ocp>;
    __overlay__ {
      /* FlockLab pins */
      P8_27_pinmux { status = "disabled"; }; /* pps */
      P8_37_pinmux { status = "disabled"; }; /* uart5_txd */
      P8_38_pinmux { status = "disabled"; }; /* uart5_rxd */
      //P8_39_pinmux { status = "disabled"; };
      //P8_40_pinmux { status = "disabled"; };
      P8_41_pinmux { status = "disabled"; };
      //P8_42_pinmux { status = "disabled"; };
      P8_43_pinmux { status = "disabled"; };
      P8_44_pinmux { status = "disabled"; };
      P8_45_pinmux { status = "disabled"; };
      P8_46_pinmux { status = "disabled"; };
      P9_11_pinmux { status = "disabled"; }; /* uart4_rxd */
      P9_13_pinmux { status = "disabled"; }; /* uart4_txd */
      /* RL pins */
      P8_09_pinmux { status = "disabled"; }; /* Status LED pin, MUX_MODE7 for GPIO, MUX_MODE6 for PRU0 controlled */
      P8_11_pinmux { status = "disabled"; }; /* Error LED pin, MUX_MODE7 for GPIO, MUX_MODE6 for PRU0 controlled */
      P8_13_pinmux { status = "disabled"; }; /* User button pin */
      P9_14_pinmux { status = "disabled"; }; /* Latch reset A pin, ehrpwm1A controlled */
      P9_15_pinmux { status = "disabled"; }; /* nForce high range pin */
      P9_16_pinmux { status = "disabled"; }; /* Latch reset B pin, ehrpwm1B controlled */
      P9_17_pinmux { status = "disabled"; }; /* Cape power enable pin */
      P9_22_pinmux { status = "disabled"; }; /* ADC clock pin, ehrpwm0A controlled */
      P9_24_pinmux { status = "disabled"; }; /* DR pin, PRU0 controlled */
      P9_25_pinmux { status = "disabled"; }; /* START pin, PRU0 controlled */
      P9_28_pinmux { status = "disabled"; }; /* CS pin, PRU0 controlled */
      P9_29_pinmux { status = "disabled"; }; /* MOSI pin, PRU0 controlled */
      P9_30_pinmux { status = "disabled"; }; /* MISO pin, PRU0 controlled */
      P9_31_pinmux { status = "disabled"; }; /* SCLK pin, PRU0 controlled */
    };
  };

  /* Config GPIO */
  /* Note: MODE7 = GPIO, MODE6 = R31 (PRU input pin), MODE5 = R30 (PRU output pin) */
  fragment@2 {
    target = <&am33xx_pinmux>;
    __overlay__ {
      /* --- FL stuff --- */
      pps_pins: pinmux_pps_pins {
        pinctrl-single,pins = <
          BONE_P8_27 (PIN_INPUT | MUX_MODE7)  /* PPS pin, 0x0e0  0x27  // gpmc_a0.gpio2_23, INPUT | PULLDIS | MODE7 */
        >;
      };
      bb_uart4_pins: pinmux_bb_uart4_pins {
        pinctrl-single,pins = <
          BONE_P9_13 (PIN_OUTPUT | MUX_MODE6)  /* gpmc_wpn.uart4_txd_mux2 */
          BONE_P9_11 (PIN_INPUT  | MUX_MODE6)  /* gpmc_wait0.uart4_rxd_mux2 */
        >;
      };
      bb_uart5_pins: pinmux_bb_uart5_pins {
        pinctrl-single,pins = <
          BONE_P8_37 (PIN_OUTPUT | MUX_MODE4)  /* lcd_data8.uart5_txd */
          BONE_P8_38 (PIN_INPUT  | MUX_MODE4)  /* lcd_data9.uart5_rxd */
        >;
      };
      fl_pru1_pins: pinmux_fl_pru1_pins {
        pinctrl-single,pins = <
          BONE_P8_45 (PIN_INPUT | MUX_MODE6)
          BONE_P8_46 (PIN_INPUT | MUX_MODE6)
          BONE_P8_43 (PIN_INPUT | MUX_MODE6)
          BONE_P8_44 (PIN_INPUT | MUX_MODE6)
          BONE_P8_41 (PIN_INPUT | MUX_MODE6)
          //BONE_P8_42 (PIN_OUTPUT | MUX_MODE5)
          //BONE_P8_39 (PIN_OUTPUT | MUX_MODE5)
          //BONE_P8_40 (PIN_OUTPUT | MUX_MODE5)
        >;
      };
      /* --- RL stuff --- */
      rl_pwm0_pins: pinmux_rl_pwm0_pins {
        pinctrl-single,pins = <
          BONE_P9_22 (PIN_OUTPUT_PULLDOWN | MUX_MODE3) /* ADC clock pin, ehrpwm0A controlled */
        >;
      };
      rl_pwm1_pins: pinmux_rl_pwm1_pins {
        pinctrl-single,pins = <
          BONE_P9_14 (PIN_OUTPUT_PULLDOWN | MUX_MODE6) /* Latch reset A pin, ehrpwm1A controlled */
          BONE_P9_16 (PIN_OUTPUT_PULLDOWN | MUX_MODE6) /* Latch reset B pin, ehrpwm1B controlled */
        >;
      };
      rl_pru0_pins: pinmux_rl_pru0_pins {
        pinctrl-single,pins = <
          BONE_P9_24 (PIN_INPUT_PULLUP | MUX_MODE6) /* DR pin, PRU0 controlled */
          BONE_P9_25 (PIN_OUTPUT_PULLDOWN | MUX_MODE5) /* START pin, PRU0 controlled */
          BONE_P9_28 (PIN_OUTPUT_PULLUP | MUX_MODE5) /* CS pin, PRU0 controlled */
          BONE_P9_29 (PIN_OUTPUT_PULLDOWN | MUX_MODE5) /* MOSI pin, PRU0 controlled */
          BONE_P9_30 (PIN_INPUT_PULLDOWN | MUX_MODE6) /* MISO pin, PRU0 controlled */
          BONE_P9_31 (PIN_OUTPUT_PULLDOWN | MUX_MODE5) /* SCLK pin, PRU0 controlled */
        >;
      };
      rl_range_pins: pinmux_rl_range_pins {
        pinctrl-single,pins = <
          BONE_P9_15 (PIN_OUTPUT_PULLUP | MUX_MODE7) /* nForce high range pin */
        >;
      };
      rl_user_pins: pinmux_rl_user_pins {
        pinctrl-single,pins = <
          BONE_P8_09 (PIN_OUTPUT_PULLDOWN | MUX_MODE7) /* Status LED pin, MUX_MODE7 for GPIO, MUX_MODE6 for PRU0 controlled */
          BONE_P8_11 (PIN_OUTPUT_PULLDOWN | MUX_MODE7) /* Error LED pin, MUX_MODE7 for GPIO, MUX_MODE6 for PRU0 controlled */
          BONE_P8_13 (PIN_INPUT_PULLUP | MUX_MODE7) /* User button pin */
        >;
      };
      rl_power_pins: pinmux_rl_power_pins {
        pinctrl-single,pins = <
          BONE_P9_17 (PIN_OUTPUT_PULLDOWN | MUX_MODE7) /* Cape power enable pin */
        >;
      };
    };
  };

  /* GNSS module pulse (PPS) */
  fragment@3 {
    target = <&ocp>;
    __overlay__ {
      pps {
        compatible = "pps-gpio";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pps_pins>;
        gpios = <&gpio2 22 0>;
        assert-falling-edge;
      };
    };
  };

  /* UART for GNSS */
  fragment@4 {
    target = <&uart4>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&bb_uart4_pins>;
    };
  };

  /* UART for target node */
  fragment@5 {
    target = <&uart5>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&bb_uart5_pins>;
    };
  };

  /* RL control pins */
  fragment@7 {
    target = <&ocp>;
    __overlay__ {
      rl_range_pinmux: rl_range_pinmux_helper {
        compatible = "bone-pinmux-helper";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&rl_range_pins>;
      };

      rl_user_pinmux: rl_user_pinmux_helper {
        compatible = "bone-pinmux-helper";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&rl_user_pins>;
      };

      rl_power_pinmux: rl_power_pinmux_helper {
        compatible = "bone-pinmux-helper";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&rl_power_pins>;
      };
    };
  };

  /* PRU hardware module */
  fragment@8 {
    target = <&pruss>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <
        &rl_pru0_pins
        &fl_pru1_pins
      >;
    };
  };

  /* PWM hardware modules */
  fragment@9 {
    target = <&epwmss0>;
    __overlay__ {
      status = "okay";
    };
  };

  fragment@10 {
    target = <&ehrpwm0>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&rl_pwm0_pins>;
    };
  };

  fragment@11 {
    target = <&epwmss1>;
    __overlay__ {
      status = "okay";
    };
  };

  fragment@12 {
    target = <&ehrpwm1>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&rl_pwm1_pins>;
    };
  };
};
